@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 90%;
  background-color: white;
  color: black;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: black;
}

.rightScreen,
.leftScreen {
  flex: 1;
  padding: 2rem;
  min-height: 800px;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

input,
select,
textarea {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: lightgrey;
}

.edit-delete-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.edit-button, .delete-button {
  margin: 0 5px; 
  padding: 5px 10px; 
  font-weight: bold; 
  width:80px;
}

.generate-qr-btn{
  background-color: green;
  color: white;
}

.qr-code-container{
  padding: 2rem;
  display:flex; 
  text-align: center;
  justify-content: center;
}
/* @media (max-width: 600px) {
  .edit-delete-btn-container {
    flex-direction: column; 
  }
  .edit-button, .delete-button {
    width: 100%; 
    margin-bottom: 5px; 
  }
} */

